<div class="container">
    <h1>Restaurants</h1>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
        </thead>
        <tbody>
            <!-- ngFor is a structural directive that loops through an array and takes actions -->
            <tr *ngFor="let restaurant of restaurants">
                <!-- Interpolation: readonly -->
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.city}}</td>
                <td>{{restaurant.state}}</td>
            </tr>
        </tbody>
    </table>
</div>